
@media screen and (max-width:1860px){
    .secound__screen{
        display: block;
        
    }
    .past__seasons{
        width: 100%;
        padding-bottom: 93px;
        }
    .new__collection{

        width: 100%;
    }
    .third__screen{
   
        display: flex;
        flex-direction: column-reverse;
    }
    .photo__demo{
        width: 100%;
        
        
        background: url(../images/Rectangle\ 9.jpg) no-repeat;
        background-size: cover;
        max-width: 1860px;
        height: 600px;
       
        
    }
  
    

}
@media screen and (max-width:960px) {
    .past__seasons__catalogue{
        display: block;
        
        max-width: 260px;
        
        margin: 0 auto;
        margin-top: 100px;
       
    }
    .catalogue__element-past{
        margin-bottom: 100px;

    }
}
@media screen and (max-width:1195px) {
    .cart{
        img{
            width: 40%;
        }
    }

    
}


@media screen and (max-width:1710px) {
    .part{
        display: block;
        img{
            width: 100%;
        }
    }
}


