
@media screen and (max-width:1860px){
    .secound__screen{
        display: block;
        
    }
    .past__seasons{
        width: 100%;
        padding-bottom: 93px;
        }
    .new__collection{

        width: 100%;
    }
    .third__screen{
   
        display: flex;
        flex-direction: column-reverse;
    }
    .photo__demo{
        width: 100%;
        
        
        background: url(../images/Rectangle\ 9.jpg) no-repeat;
        background-size: cover;
        max-width: 1860px;
        height: 600px;
       
        
    }

}
@media screen and (max-width:1400px) {
    

}


